<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Visitorswebsite</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>VisitorsServlet</servlet-name>
    <servlet-class>com.Visitorswebsite.model.VisitorsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisitorsServlet</servlet-name>
    <url-pattern>/VisitorsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminstratorServlet</servlet-name>
    <servlet-class>AdminstratorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminstratorServlet</servlet-name>
    <url-pattern>/AdminstratorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.Visitorswebsite.Listener.VisitorsListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteadminServlet</servlet-name>
    <servlet-class>DeleteadminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteadminServlet</servlet-name>
    <url-pattern>/DeleteadminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
     <servlet-name>ViewallVisitorsServlet</servlet-name>
     <servlet-class>ViewallVisitorsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>ViewallVisitorsServlet</servlet-name>
      <url-pattern>/ViewallVisitorsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PrintServlet</servlet-name>
    <servlet-class>PrintServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintServlet</servlet-name>
    <url-pattern>/PrintServlet</url-pattern>
  </servlet-mapping>
</web-app>